<p id="notice"><%= notice %></p>

    <div id="postdiv" class="grid container-fluid transitions-enabled centered clearfix masonry">
      <% @posts.each do |post| %>
        <div class="grid box panel panel-default">
        <%= link_to(post) do %>
          <%= image_tag post.image.url %>
          <% end %>
          <div class="panel-body">
            <!--%= link_to 'Show', post %-->
            <!-- , style: "max-width:400px;" -->
            <b><%= post.description %></b>
            <br/>
            <%= post.user.email if post.user %>
            <br/>
            <code><%= post.created_at %></code>
            <% if post.user == current_user %>              
            <br/>
            <%= link_to 'Edit', edit_post_path(post) %>
            <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
            <%end%>
          </div>
        </div>
        <% end %>
    </div>      
