<%= render 'pages/home' if !user_signed_in? %>
<div class="col-md-12 col-md-offset-0">
<p id="notice"><%= notice %></p>
  <div class="center">
    <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
  </div>
  <div class="grid-sizer"></div>
    <div id="postdiv" class="grid container-fluid transitions-enabled centered clearfix masonry">
      <% @posts.each do |post| %>
        <div class="box panel panel-default">
        <%= link_to(post) do %>
          <%= image_tag post.image.url, class: "img-responsive"%>
          <% end %>
          <div class="panel-body">
            <!--%= link_to 'Show', post %-->
            <!-- , style: "max-width:400px;" -->
            <p><strong><%= post.description %></strong></p>
            <p><%= post.user.nickname %></p>
            <code><%= post.created_at %></code>
            <% if post.user == current_user %>              
            <br/>
            <div class="actions">
              <%= link_to edit_post_path(post) do %>
                <i class="fa fa-pencil" aria-hidden="true"></i> Editar
              <%end%>
              <%= link_to post, method: :delete, data: { confirm: 'Estás seguro?' } do %>
                <i class="fa fa-trash" aria-hidden="true"></i> Eliminar

              <%end%>
            </div>
            <%end%>

          </div>
        </div>
        <% end %>
    </div>      
  <div class="center col-md-12 col-md-offset-0">
    <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
  </div>
</div>      
