<div class="well">
<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<div class="panel panel-default">
			<div class="panel-heading center">
				<%= image_tag @post.image.url(:medium) %>
			</div>

			<div class="panel-body">
				<p><strong><%= @post.description %></strong></p>
            	<p><%= @post.user.nickname %></p>

            	<div class="panel-footer">
					<% if @post.user == current_user %>
						<%= link_to edit_post_path(@post) do %> 
						<i class="fa fa-pencil" aria-hidden="true"></i> Editar
						<%end%>
					<%end%>
					<%= link_to posts_path do %>
						<i class="fa fa-arrow-left" aria-hidden="true"></i> Regresar
					<%end%>
				</div>
			</div>
		</div>
	</div>
</div>
</div>