<!DOCTYPE html>
<html>
  <head>
    <title>Duscae</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
  <%= render 'layouts/header' %>

	<div class="container-fluid">
      <div class="row">
      <div class="col-md-8 col-md-offset-2">
          <% flash.each do |name, msg|%>
            <%= content_tag(:div, msg, class: "alert alert-info") %>
          <% end %>
      </div>
      </div>

      <div class="row">
          <%= yield %>
      </div>
    </div>
  </body>
</html>
